*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 65.9%;
}

body {
    box-sizing: border-box;
}

.form-wrapper,
.login-wrapper,
.logout-wrapper {
    width: 50%;
    height: 50%;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form > * {
    height: 2rem;
    width: 70%;
    display: block;
    margin: 1rem auto;
}

.login-wrapper > * {
    display: block;
    text-align: center;
    margin: 1rem auto;
}

.logout-wrapper {
    text-align: center;
    font-size: 1.4rem;
}


